<!-- This is the boilerplate for every HTML page we will create in this website please use the same layout to avoid any discrepancies and confusions -->
<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" type="text/css" href="css/styles.css">

  <title>What to do today!</title>
</head>
<body value="">
  <div class="box" id="heading"><h1><%=listTitle%></h1>
  </div>
  <div class="box">
    <%newListItems.forEach(function(item){%>
    <form method="POST" action="/delete">
    <div class="item">
      <input name="checkStatus" type="checkbox" value="<%=item._id%>" onChange="this.form.submit()">
      <p><%=item.name%></p>
      <input type="hidden" name="listName" value="<%=listTitle%>">
    </div>
    </form>
    <%});%>
    <form method="POST" action="/" class="item" >
      <input type="text" name="newItem" placeholder="New Items">
      <button type="submit" name="list" value="<%=listTitle%>">+</button>
    </form>
  </div>
  <!-- Optional JavaScript -->
</body>
</html>